:root {
    --primary: #f1faee;
    --contrast: #1d3557;
    --secondary-contrast: #e63946;
}

body {
    background-color: var(--primary);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 75px;
    color: var(--contrast);
}

div {
    position: relative;
}

p {
    font-weight: bold;
    font-size: 25px;
}

/* Highscore button to view the scores */
#high-score {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 40px;
    color: var(--contrast);
}

/* The start button box CSS */
h2, h3 {
    text-align: center;
    font-size: 30px;
    color: var(--contrast);
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* The start button box CSS */
#start {
    text-align: center;
    background-color: var(--secondary-contrast);
    color: white;
    font-size: 50px;
    height: 100px;
    width: 200px;
    border-radius: 10px;
}

.box-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#start:hover {
    background-color: rgb(201, 4, 4);
    cursor: pointer;
}

.box-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
}

/* box layout when starting the Quiz */
/* This box is where we show the wrong or right answers */
.left-box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 20%;
}

/* This box shows the question and answers */
.mid-box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 60%;
}

button {
    text-align: left;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 15%;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: var(--secondary-contrast);
}

button:hover {
    cursor: pointer;
    background-color: rgb(201, 4, 4);
}

.choice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* This box shows the timer */
.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    font-size: 30px;
    width: 20%;
}

/* The score page CSS */

#user-input {
    height: 40px;
    width: 450px;
    font-size: 25px;
    color: var(--contrast);
}

#user-points {
    font-size: 30px;
    color: var(--secondary-contrast);
}

#save-score {
    width: 85px;
    height: 45px;
    text-align: center;

}

.score-list {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 30px;
    color: var(--contrast);
}

#temp-btn {
    text-align: center;
    width: 150px;
    height: 45px;
    margin-top: 30px;
    margin-left: 30px;
}


/* Responsive layout CSS */

@media (max-width: 1200px) {
    button {
        width: 35%;
    }
}

@media (max-width: 992px) {
    button {
        width: 50%;
    }
}

@media (max-width: 768px) {
    button {
        width: 65%;
    }
}

@media (max-width: 576px) {
    button {
        width: 80%;
    }
}

